<app-navbar-gremio></app-navbar-gremio>
<p-toast></p-toast>
<div class="spinner-container_1" *ngIf="isLoading">

    <div><span class="textSpinner">
            Cargando Solicitudes ....
        </span></div>

    <p-progressSpinner [style]="{ width: '250px', height: '250px' }"></p-progressSpinner>
</div>

<div class="barra">
    <div class="barra_1">

        <div *ngIf="activateTab == 'request'" class="align-cards animated fadeIn">
            <app-request-card *ngFor="let task of solicitudesList; let i= index" [task]="task" [role]='usuario.type'>
            </app-request-card>
        </div>
        <div *ngIf="activateTab == 'hired'" class="align-cards animated fadeIn">
            <app-hire-card *ngFor="let task of contratadosList; let i= index" [task]="task" [role]='usuario.type'>
            </app-hire-card>
        </div>
        <div *ngIf="activateTab == 'history'" class="align-cards animated fadeIn">
            <app-history-card *ngFor="let task of historialList; let i= index" [task]="task" [role]='usuario.type'>
            </app-history-card>
        </div>
    </div>
</div>