.align-cards {
	position: relative;
	top: 100px;
}

.spinner-container_1 {
	position: fixed;
	top: 40%;
	left: 40%;
}
.textSpinner {
	position: fixed;
	top: 15%;
	left: 35%;
	font-size: 50px;
}

.button-container {
	button {
		background-color: darkcyan;
		width: 200px;
		height: 60;
		font-weight: 600;
		font-size: 18px;
		border: none;
	}
}
