<p-toast></p-toast>
<div class="spinner-container" *ngIf="isLoading">
    
    <div><span class="textSpinner">
        Cargando Solicitudes ....
    </span></div>
    
    <p-progressSpinner [style]="{ width: '250px', height: '250px' }"></p-progressSpinner>
</div>
<div *ngIf="activateTab == 'request'" class="align-cards">
    <app-request-card *ngFor="let task of solicitudesList; let i= index" [task]="task" [role]='usuario.type'></app-request-card>
</div>
<div *ngIf="activateTab == 'hired'" class="align-cards">
    <app-hire-card *ngFor="let task of contratadosList; let i= index" [task]="task" [role]='usuario.type'></app-hire-card>
</div>
<div *ngIf="activateTab == 'history'" class="align-cards">
    <app-history-card *ngFor="let task of historialList; let i= index" [task]="task" [role]='usuario.type'></app-history-card>
</div>
<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="button-container">
    <button pButton pRipple type="button" label="Pagar" class="p-button-raised" (click)="pagosComponent()" ></button>
</div> -->