<!-- SIGNUP MODAL -->

<p-dialog visible="true" [closable]="false" [modal]="true" [style]="{ width: '50vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" (click)="gotoCustomer()">
            <h3>Registro</h3>
            <div fxFlex="25" class="button-nav-go">
                <span>Ir a Cliente</span>
            </div>
        </div>
    </p-header>

    <!-- <div class="add-image" fxLayout="row" fxLayoutAlign="center center">
        <i class="fas fa-user-circle"></i>
    </div> -->
    <div class="card">
        <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>
    <router-outlet></router-outlet>
</p-dialog>