<p-tabView *ngIf="mode ">
    <p-tabPanel header="DESCRIPCION">
        <p>
            {{ taskSub.description }}
        </p>
    </p-tabPanel>
    <!-- <p-tabPanel header="FECHA Y HORA">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel> -->
    <p-tabPanel header="DIRECCION">
        <p>
            {{ taskSub.address.street }} {{ taskSub.address.number }}, {{ taskSub.address.cp }}
        </p>
    </p-tabPanel>
</p-tabView>
<p-tabView *ngIf="!mode && role == 'provider'">
    <p-tabPanel header="SERVICIO">
        <div class="list-group" *ngIf="!mode && role == 'provider'" fxLayout="column" fxLayoutAlign="space-around center" style="background-color: white">
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Mano de Obra
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" [(ngModel)]="budget.workforce"/>
            </div>
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Materiales
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" [(ngModel)]="budget.materials" />
            </div>
            <!--  <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="background-color: white;border-bottom: 2px solid #f6b776; color: black; padding: 0;">
                <h5 class="name" fxFlex="50" style="color: black;text-align: center;border-right: 2px solid black;height: 50px;
                padding: 10px">Impuestos (21%)</h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none;text-align: center;" />
            </div>
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="background-color: white;border-bottom: 2px solid #f6b776; color: black; padding: 0;">
                <h5 class="name" fxFlex="50" style="color: black;text-align: center;border-right: 2px solid black;height: 50px;
                padding: 10px">Impuesto (Uso de la plataforma)</h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none;text-align: center;" />
            </div> -->

            <div class="border-bottom-mod"></div>
            <div class="btn btn-primary" fxFlex="20" fxFlexOffset="5" (click)='sendPresupuesto()' >ENVIAR</div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="PRECIO">
        <div class="list-group" *ngIf="!mode && role == 'provider'" fxLayout="column" fxLayoutAlign="space-around center" style="background-color: white">
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Mano de Obra
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" />
            </div>
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Materiales
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" />
            </div>
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Impuestos (21%)
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" />
            </div>
            <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          padding: 0;
        ">
                <h5 class="name" fxFlex="50" style="
            color: black;
            text-align: center;
            border-right: 2px solid black;
            height: 50px;
            padding: 10px;
          ">
                    Impuesto (Uso de la plataforma)
                </h5>
                <input type="text" fxFlex="50" style="height: 50px; border: none; text-align: center" />
            </div>

            <div class="border-bottom-mod"></div>
            <div class="btn btn-primary" fxFlex="20" fxFlexOffset="5">ENVIAR</div>
        </div>
    </p-tabPanel>
</p-tabView>

<div class="list-group" *ngIf="!mode && role == 'client'" fxLayout="column" fxLayoutAlign="space-around center">
    
    <ng-container *ngIf="offersList">
    <div class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="space-around center"  *ngFor="let offer of offersList">
        <div class="img-container" fxFlex="10" (click)="displayModal = !displayModal">
            <img src="../../../../../assets/img/phoebe.png" />
        </div>
        <h5 class="name" fxFlex="15" (click)="displayModal = !displayModal">
            {{ offer.provider_name }}
        </h5>
        <p-rating [ngModel]="3" readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center" fxFlexOffset="10" class="mb-2"></p-rating>
        <div class="chat-button" fxLayout="column" fxFlexOffset="10" fxLayoutAlign="space-around center" (click)="goToChat(offer.id)">
            <i class="far fa-comment-alt"></i>
            <span>Chat</span>
        </div>
        <div class="chat-button" fxLayout="column" fxFlexOffset="5" fxLayoutAlign="space-around center">
            <i class="fas fa-check-square"></i>
            <span>Aceptar</span>
        </div>
        <div class="chat-button" fxLayout="column" fxFlexOffset="2" fxLayoutAlign="space-around center">
            <i class="fas fa-window-close"></i>
            <span>Cancelar</span>
        </div>
        <h2 fxFlexOffset="5">{{ offer.budget }}€</h2>
    </div>
</ng-container>

    </div>
    <div class="border-bottom-mod"></div>


<p-dialog header=" " [(visible)]="displayModal" [modal]="true" [style]="{ width: '35vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div fxLayout="row">
        <div class="img-container-modal" fxFlex="30" (click)="displayModal = !displayModal">
            <img width="120" src="../../../../../assets/img/phoebe.png" />
        </div>
        <div class="name-container" fxLayout="column">
            <h2 class="name">Phoebe B.</h2>
            <h4 class="job">FONTANERA</h4>
            <p-rating [ngModel]="3" readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center" fxFlexOffset="10" class="mb-2 w-100"></p-rating>
        </div>
    </div>
    <div fxLayout="row" class="mt-3">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
        </p>
    </div>
</p-dialog>