<p-tabView *ngIf="mode ">

  <p-tabPanel header="DESCRIPCION">
    <div class="row anchoColumnDescrip">

      <div class="col-8 mt-3 ">
        <div *ngIf="taskSub.description">
          <p class="destacado">
            {{ taskSub.description }}
          </p>
        </div>
        <div *ngIf="!taskSub.description">
          <p class="destacado">
            Esta solicitud no contiene informacion adicional
          </p>
        </div>
      </div>

      <div class="col-3  mt-3">
        <div *ngIf="!taskSub.photoNewTaskArray[0]" class="photo-profile " fxFlex="row" fxLayoutAlign="center center"
          style="
            background-size: cover;
            background-position: center center;
            flex: none;
          " [style.background-image]="
            getSafeImage('../../../assets/img/noImage.png')
          ">
        </div>
        <div *ngIf="taskSub.photoNewTaskArray[0]" class="photo-profile" fxFlex="row" fxLayoutAlign="center center"
          (click)="displayBasic2 = true" style="
          background-size: cover;
          background-position: center center;
          flex: none;" [style.background-image]="getSafeImage(taskSub.photoNewTaskArray[0])">
          <button id="photoCameraBtn" style="position: absolute">
            <h2 style="color:white;">{{numberPhoto}}</h2>
          </button>
        </div>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="DIRECCION">
    <div class="row ">
      <div class="col-8 anchoColumn">
        <p class="destacado">
          Calle {{ taskSub.address.street }}, # {{ taskSub.address.number }}<br>
          Portal {{ taskSub.address.portal }}, Escalera {{ taskSub.address.stair }}, Planta {{ taskSub.address.floor }},
          Puerta {{ taskSub.address.door }}, Codigo Postal {{ taskSub.address.cp }}
        </p>
      </div>

      <div class="col-3 align-self-center">
        <div class="location-btn " style="text-align: center;" (click)="onClickMap()">
          <button pButton pRipple type="button" icon="fas fa-map-marker-alt" class="p-button-rounded p-button-warning">
          </button>
        </div>
      </div>
    </div>
  </p-tabPanel>

</p-tabView>

<p-tabView *ngIf="!mode && role == 'provider'">
  <div class="container">
    <div class="row " style="background-color: #f6b776; height: 60px;">

      <div class="col-sm " style="border-right: 1px solid black; height: 60px; text-align: center;">
        <h6 class="mt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; ">SERVICIO</h6>
      </div>
      <div class="col-sm " style="text-align: center; ">
        <h6 class="mt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">PRECIO</h6>
      </div>
    </div>
  </div>

  <div class="list-group" fxLayout="column" fxLayoutAlign="space-around center" style="background-color: white">
    <div class="list-group-item list-group-item-action  p-2" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776 ;
          width: 95%;
          color: black;
          
        ">
      <h6 fxFlex="50" style="
            
            height: 20px;
            margin-bottom: 0;
            margin-left: 50px;
            font-weight: normal;
                        
          ">
        Mano de Obra
      </h6>
      <input type="number" placeholder="Valor en €" fxFlex="50" style="height: 20px; border: none; text-align: center"
        [(ngModel)]="workforce" (keyup)="onKeyUpWorkForce()" />
    </div>

    <div class="row" *ngIf="workForceInvalid">
      <div class="col-sm-12" style="left: 200px;">
        <small class="p-invalid">Mano de obra no valido.</small>
      </div>

    </div>

    <ng-container *ngIf="!taskSub.require_materials">
      <div class="list-group-item list-group-item-action p-2" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776;
          color: black;
          width: 95%;

          
        ">
        <h6 fxFlex="50" style="
            
        height: 20px;
        margin-bottom: 0;
        margin-left: 50px;
        font-weight: normal;
                    
      ">
          Materiales
        </h6>
        <input class="p-0" type="number" placeholder="Valor en €" fxFlex="50"
          style="height: 20px; border: none; text-align: center" [(ngModel)]="materials" (keyup)="onKeyUpMaterial()" />

      </div>
    </ng-container>

    <div class="row" *ngIf="materialInvalid">
      <div class="col-sm-12" style="left: 200px;">
        <small class="p-invalid">Material no valido.</small>
      </div>
    </div>

    <div class="list-group-item list-group-item-action  p-2" fxLayout="row" fxLayoutAlign="space-around center" style="
          background-color: white;
          border-bottom: 2px solid #f6b776 ;
          width: 95%;
          color: black;
          
        ">
      <h6 fxFlex="50" style="
            
            height: 20px;
            margin-bottom: 0;
            margin-left: 50px;
            font-weight: normal;
                        
          ">
        TOTAL
      </h6>
      <h6 class="m-0" fxFlex="50" style="  font-weight: normal; height: 20px; border: none; text-align: center">
        {{total}}</h6>
    </div>

    <button class="btn btn-primary btn-sm mt-4 mb-4" style="color: black" (click)='sendPresupuesto()'
      [disabled]="materialInvalid==true || workForceInvalid==true || disableEnviarM == true || disableEnviarW == true">ENVIAR</button>

  </div>

</p-tabView>


<div class="list-group container p-2" *ngIf="!mode && role == 'client'">
  <ng-container *ngIf="offersList">
    <div *ngFor="let offer of offersList ; let i = index">

      <div class="row ml-4 pt-2  align-items-center" style="height: 70px ; width: 97%;">

        <div class="col-1 ml-4 p-0" style="text-align: center; cursor: pointer" (click)="onClickOffer(offer)">
          <p-avatar size="large" image={{offer.photoProvider}}>
          </p-avatar>
        </div>

        <div class="col-2 mt-2 pl-2">
          <h6
            style=" pointer-events: none; color: white; font-family: Arial, Helvetica, sans-serif; font-weight: 700; ">
            {{edtiName(offer.provider_name.toString())}}</h6>
        </div>
        <div class="col-3 p-1 list-group-item">
          <p-rating [ngModel]="offer.ranking" readonly="true" stars="5" [cancel]="false" style="pointer-events: none;">
          </p-rating>
        </div>
        <div class="chat-button col-1" fxLayout="column" fxLayoutAlign="space-around center"
          (click)="goToChat(offer.id)">
          <input type=image src="'../../../../../../../assets/img/iconChat.svg" width="30" height="20">
          <span>Chat</span>
        </div>

        <div class="col-1 ml-4 p-0" fxLayout="column" fxLayoutAlign="space-around center" style="cursor: pointer"
          (click)="acceptOffer(offer.id)">
          <i class="fas fa-check-square fa-lg"></i>
          <span style="color: white; font-size: 13px; ">Aceptar</span>
        </div>

        <div class="col-1 ml-0 p-0" fxLayout="column" fxLayoutAlign="space-around center" style="cursor: pointer"
          (click)="cancelOffer(offer.id)">
          <i class="fas fa-window-close fa-lg"></i>
          <span style="color: white; font-size: 13px;">Cancelar</span>
        </div>

        <div class="col-1 ml-4 p-0" style="text-align: right;">
          <h2>{{ offer.budget }}€</h2>
        </div>

      </div>
      <div class="row ml-2">
        <div class="col">
          <div *ngIf="offersList.length - 1 != i" style=" border-bottom: 1px solid white ; width: 97%;"></div>
        </div>
      </div>





    </div>
  </ng-container>
</div>


<p-galleria [(value)]="images" [(visible)]="displayBasic2" [numVisible]="7" [circular]="true" [fullScreen]="true"
  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" style="width: 100%;height: 100%; display: block;" />
  </ng-template>

</p-galleria>


<p-dialog class="map" header=" " [(visible)]="displayModalMap" [modal]="true" [baseZIndex]="10000" [draggable]="false">

  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [mapTypeId]="'hybrid'">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>


</p-dialog>