@import '../../../../..assets/mystyle.scss';
:host ::ng-deep .p-tabview .p-tabview-nav {
    li {
        width: 50%;
        a {
            color: white;
            background-color: $primary-color;
            border-radius: 0;
            span {
                margin: auto;
            }
        }
        .p-tabview-nav-link:not(.p-disabled):focus {
            box-shadow: none;
        }
    }
    li.p-highlight .p-tabview-nav-link {
        background-color: $secondary-color;
        color: $primary-color;
    }
    li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        background-color: $secondary-color;
        color: $primary-color;
    }
}

:host ::ng-deep .list-group {
    background-color: $primary-color;
    .img-container {
        cursor: pointer;
        height: 60px;
        img {
            object-fit: cover;
            height: 100%;
            border-radius: 15px;
            width: 60px;
        }
    }
    .list-group-item {
        background-color: $primary-color;
        border: none;
        .name {
            color: white;
            cursor: pointer;
        }
        .p-rating .p-rating-icon {
            font-size: 15px;
        }
        .p-rating .p-rating-icon.pi-star {
            color: $secondary-color;
        }
        .chat-button {
            svg {
                color: white;
                font-size: 25px;
            }
            span {
                color: white;
                font-size: 14px;
            }
        }
    }
    .border-bottom-mod {
        width: 95%;
        opacity: 0.3;
        height: 2px;
        background-color: white;
    }
}

:host ::ng-deep .p-dialog {
    border-radius: 15px !important;
    .p-dialog-header {
        background-color: white;
        color: black;
        border-radius: 15px 15px 0 0;
        padding: 0.5rem;
    }
    .img-container-modal {
        height: 120px;
        img {
            object-fit: cover;
            height: 100%;
            border-radius: 15px;
        }
    }
    .job {
        font-weight: 400;
    }
    .p-rating .p-rating-icon.pi-star {
        color: $primary-color;
    }
    .p-dialog-content {
        border-radius: 0 0 15px 15px;
    }
}