@import '../../../../../assets/mystyle.scss';

:host ::ng-deep .p-tabview .p-tabview-panels {
	border-radius: 0 0 50px 50px;
	padding: 0;
}

/* :host ::ng-deep .p-galleria-mask {
	width: 100%;
} */

.anchoColumn {
	height: 120px;
	margin-top: 3%;
}

.anchoColumnDescrip {
	height: 148px;
}

.destacado {
	margin-top: 1em;
	margin-left: 2em;
	font-weight: 500;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
	li {
		width: 50%;
		a {
			color: white;
			background-color: $primary-color;
			border-radius: 0;
			span {
				margin: auto;
			}
		}
		.p-tabview-nav-link:not(.p-disabled):focus {
			box-shadow: none;
		}
	}
	li.p-highlight .p-tabview-nav-link {
		background-color: $secondary-color;
		color: $primary-color;
	}
	li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
		background-color: $primary-color;
	}
}

:host ::ng-deep .list-group_factura {
	border-radius: 50px;
	.list-group-item {
		background-color: $primary-color;
		border: none;
	}
}

:host ::ng-deep .list-group {
	background-color: $primary-color;

	img.ng-star-inserted {
		border-radius: 5px;
	}

	.img-container {
		cursor: pointer;
		height: 60px;
		img {
			object-fit: cover;
			height: 100%;
			border-radius: 15px;
			width: 60px;
		}
	}
	*:focus {
		outline: none;
	}
	.list-group-item {
		background-color: $primary-color;
		border: none;

		.p-rating .p-rating-icon {
			font-size: 15px;
		}
		.p-rating .p-rating-icon.pi-star {
			color: $secondary-color;
		}
		.icon-cog {
			color: black;
		}
	}

	.chat-button {
		span {
			color: black;
			font-size: 13px;
		}
	}

	.chat-button:hover {
		cursor: pointer;
	}
}

:host ::ng-deep .p-dialog {
	width: 30% !important;
	height: 40% !important;

	.p-dialog-header {
		background-color: white;
		color: black;
		border-radius: 15px 15px 0 0;
		padding: 0.5rem;
	}

	.job {
		font-weight: 400;
	}
	.p-rating .p-rating-icon.pi-star {
		color: $primary-color;
	}
	.p-dialog-content {
		height: 100% !important;
		border-radius: 0 0 15px 15px;
	}
}

.photo-profile {
	margin-top: 1em;
	margin-left: 3em;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 4px;
	flex: none !important;
	//background-color: transparent;

	#photoCameraBtn {
		//opacity: 0.5;
		height: 100%;
		width: 100%;
		border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.4);
		outline: none;
	}
}

.location-btn {
	button {
		height: 90% !important;
		width: 23%;
		border-radius: 10px !important;
		background-color: #f6b776;
		color: white;
	}
}
.location-btn:hover {
	button {
		color: white;
	}
}

.view-container {
	padding: 50px 0;
	background-color: rgb(235, 235, 235) !important;
	.spinner-container {
		position: fixed;
		top: 30%;
		left: 30%;
	}
}
svg {
	color: white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

:host ::ng-deep .map {
	.p-dialog {
		width: 1000px !important;
		max-width: 4000px;
		height: 700px !important;

		.p-dialog-header {
			color: black;
			border-radius: 15px 15px 0 0;
		}

		.p-dialog-content {
			border-radius: 0 0 15px 15px;
		}

		agm-map {
			width: 100%;
			height: 100%;
		}
	}
}

:host ::ng-deep .worker {
	.p-dialog {
		width: 600px !important;
		max-width: 4000px;
		height: 300px !important;

		.p-dialog-header {
			color: black;
			border-radius: 15px 15px 0 0;
		}

		.p-dialog-content {
			border-radius: 0 0 15px 15px;
		}
	}
}

/* @media all and (max-width: 1500px) {
	.p-dialog {
		width: 500px !important;
		height: 400px !important;

		.p-dialog-header {
			color: black;
			border-radius: 15px 15px 0 0;
		}

		.p-dialog-content {
			height: 100% !important;
			border-radius: 0 0 15px 15px;
		}

		agm-map {
			width: 100%;
			height: 100%;
		}
	}
} */
