<div class="p-dialog">
    <div class="p-dialog-header">
        <h5>NUEVA SOLICITUD DE {{ serviceName | uppercase }}</h5>
    </div>
    <!-- <div class="spinner-container" *ngIf="isLoading">
      <div class="backdrop"></div>

      <p-progressSpinner [style]="{ width: '150px', height: '150px' }"></p-progressSpinner>
  </div> -->
    <div class="form-container">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="w-100 mt-3 section-1">
            <div fxFlex="45">
                <span>¿Cuantas veces quiere el servicio?</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="45">
                <div class="p-field-radiobutton">
                    <p-radioButton name="frecuency" value="once" [(ngModel)]="frequency" inputId="frecuency1"></p-radioButton>
                    <label class="mb-0" for="frecuency1">Una vez (Servicio puntual)</label
          >
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton
            name="frecuency"
            value="weekly"
            [(ngModel)]="frequency"
            inputId="frecuency2"
          ></p-radioButton>
          <label class="mb-0" for="frecuency2"
            >Semanalmente (Servicio recurrente)</label
          >
        </div>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      class="w-100 mt-3 section-1"
    >
      <div fxFlex="45">
        <span>¿Cuando necesita el servicio?</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="45">
        <div class="p-field" fxFlex="48">
          <h5>Fecha</h5>
          <p-calendar inputId="date" id="date" type="date"></p-calendar>
        </div>
        <div class="p-field" fxFlex="48">
          <h5>Hora</h5>
          <p-calendar inputId="time" id="time" [timeOnly]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      class="w-100 mt-3 section-1"
    >
      <div fxFlex="45">
        <span>Describa el servicio que necesita (Opcional)</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="45">
        <div class="p-field w-100">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            autoResize="autoResize"
          ></textarea>
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      class="w-100 mt-3 section-1"
    >
      <div fxFlex="45">
        <span>Direccion en que se realiza el servicio</span>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between start"
        fxFlex="45"
        fxLayoutGap
      >
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="street"
            id="street"
            pInputText
            placeholder="No. de calle"
          />
        </div>
        <div class="p-field" fxFlex="48" fxFlexOffset="4">
          <input
            class="w-100"
            inputId="floor"
            id="floor"
            pInputText
            placeholder="Piso"
          />
        </div>
        <br />
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="num"
            id="num"
            pInputText
            placeholder="Numero"
          />
        </div>
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="door"
            id="door"
            pInputText
            placeholder="Puerta"
          />
        </div>
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="portal"
            id="portal"
            pInputText
            placeholder="Portal"
          />
        </div>
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="cod"
            id="cod"
            pInputText
            placeholder="Cod. Postal"
          />
        </div>
        <div class="p-field" fxFlex="48">
          <input
            class="w-100"
            inputId="stairs"
            id="stairs"
            pInputText
            placeholder="Escaleras"
          />
        </div>
        <div
          fxFlexOffset="3"
          fxFlex="12"
          fxFlexAlign="end"
          class="location-btn"
        >
          <button
            pButton
            pRipple
            type="button"
            icon="fas fa-map-marker-alt"
            class="p-button-rounded p-button-warning"
          ></button>
        </div>
      </div>


    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="w-100 mt-3">
        <div fxFlex="45">
            <span>¿Dispone de los materiales?</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="45">
            <div class="p-field-radiobutton">
                <p-radioButton name="frecuency" value="once" [(ngModel)]="frequency" inputId="frecuency1"></p-radioButton>
                <label class="mb-0" for="frecuency1">Si</label
      >
    </div>
    <div class="p-field-radiobutton ml-3">
      <p-radioButton
        name="frecuency"
        value="weekly"
        [(ngModel)]="frequency"
        inputId="frecuency2"
      ></p-radioButton>
      <label class="mb-0" for="frecuency2"
        >No</label
      >
    </div>
  </div>
  </div>
  </div>
</div>