# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/libs/bootstrap-datepicker-1.9.0-dist.zip
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css.map
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.css.map
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.min.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css.map
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.standalone.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.standalone.css.map
src/assets/libs/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.standalone.min.css
src/assets/libs/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker-en-CA.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ar-tn.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ar.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.az.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.bg.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.bm.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.bn.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.br.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.bs.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ca.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.cs.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.cy.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.da.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.de.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.el.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-AU.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-CA.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-GB.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-IE.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-NZ.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-ZA.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.eo.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.et.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.eu.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.fa.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.fi.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.fo.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.fr-CH.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.fr.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.gl.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.he.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.hi.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.hr.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.hu.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.hy.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.id.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.is.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.it-CH.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.it.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ja.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ka.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.kh.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.kk.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.km.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ko.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.kr.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.lt.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.lv.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.me.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.mk.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.mn.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ms.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.nl-BE.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.nl.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.no.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.oc.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.pl.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.pt-BR.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.pt.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ro.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.rs-latin.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.rs.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ru.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.si.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sk.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sl.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sq.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sr-latin.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sr.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sv.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.sw.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ta.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.tg.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.th.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.tk.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.tr.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.uk.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.uz-cyrl.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.uz-latn.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.vi.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js
src/assets/libs/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-TW.min.js
