<div class="container list-card">
    <div class="pcard-container">
        <p-card>
            <div class="container p-0">
                <div class="row m-0">
                    <div class="col-3 p-0">
                        <div class="image-left">
                            <img src="assets/img/home1.jpg" class="heaven" />
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="container py-2">
                            <h3>FONTANERIAdsa</h3>
                            <span><i class="far fa-calendar mr-2"></i>Miercoles, 9 de septiembre 2020</span>
                            <br>
                            <span><i class="far fa-clock mr-2"></i>Horario de servicio, 9:00am - 10:00am</span>

                            <div class="buttons-cont" fxLayout="row">
                                <div class="btn btn-primary" fxFlex="20" (click)="onShowSubCard(false)">OFERTAS</div>
                                <div class="btn btn-primary" fxFlex="20" fxFlexOffset="5" (click)="onShowSubCard(true)">DETALLES</div>
                                <div fxFlex="10" fxFlexOffset="40">
                                    <span>Solicitado:</span><br>
                                    <span>08.09.2020</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="fade-down" *ngIf="showSubCard">
            <p-card>
                <app-request-sub-card [mode]="offersDetail"></app-request-sub-card>
            </p-card>
        </div>

    </div>
</div>