<body>
  <div *ngIf="usuario.type=='client'">
    <app-task-card *ngFor="let task of tasksList; let i= index"
                  [tipo] = "task['client_order_ref']"
                  [fecha] = "task['date_order']"
                  [desc] = "task['note']"
                  [name] = "task['name']">
    </app-task-card>
  </div>
  <div *ngIf="usuario.type=='provider'">
    <app-task-card *ngFor="let task of tasksList; let i= index"
                  [tipo] = "task['user_id'][1]"
                  [fecha] = "task['date_order']"
                  [desc] = "task['note']"
                  [name] = "task['name']"
                  [task] = "task">
    </app-task-card>
  </div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body input-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo de Tarea</label>
                </div>
                <select [(ngModel)]="task.type" class="custom-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="Plomeria">Plomeria</option>
                    <option value="Electricidad">Electricidad</option>
                </select>
            </div>
            <div class="form-group input-group">
                <input [(ngModel)]="task.name"
                        type="text" class="form-control"
                        placeholder="Título"/>

            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Descripción</span>
                </div>
                <textarea [(ngModel)]="task.desc"
                        class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Seleccione una foto</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger"
                 data-dismiss="modal">
                 Cerrar</button>
          <button (click)="newTask()"
                type="button" class="btn btn-outline-success" data-dismiss="modal"
                >Crear</button>
        </div>
      </div>
    </div>
  </div>
