<!-- LOGIN MODAL -->

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '32vw' }" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false">
  <p-header> Empecemos </p-header>
  <div class="spinner-container" style="text-align: center;" *ngIf="isLoading">
    <div class="backdrop"></div>
    <p-progressSpinner [style]="{ width: '150px', height: '150px' }"></p-progressSpinner>
  </div>

  <div class="form-container">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="p-field">
        <h5>CORREO</h5>
        <input id="username" type="email" aria-describedby="username-help" placeholder="Usuario"
          [class.p-invalid]="usuarioNoValido" formControlName="usuario" pInputText />
        <small *ngIf="usuarioNoValido" id="username-help" class="p-invalid">Correo no valido.</small>
      </div>
      <div class="p-field">
        <h5>CONTRASEÑA</h5>
        <input id="password" type="password" aria-describedby="password-help" placeholder="Contraseña"
          [class.p-invalid]="passwordNoValido" formControlName="password" pInputText />
        <small *ngIf="passwordNoValido" id="username-help" class="p-invalid">Contraseña invalido.</small>
      </div>

      <div class="text-center">
        <button class="btn btn-primary text-black mt-4 text-center" type="submit"
          [disabled]="disabled || usuarioNoValido==true || passwordNoValido==true">
          INICIAR SESIÓN
        </button>
      </div>
      <div class="row mt-4">

        <div class=" col-5 p-0 ml-2" style="text-align: center;">
          <a type="button" [routerLink]="['/signup/customer']" class="text-green letra-chica">¿No tiene una
            cuenta?</a>
        </div>
        <div class=" col-6 p-0 ml-1" style="text-align: right;">
          <a [routerLink]="['/signup']" class="text-green letra-chica">Restablecer contraseña</a>
        </div>
      </div>

    </form>


  </div>

</p-dialog>