<!-- LOGIN MODAL -->

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '32vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-header> Login </p-header>
    <div class="spinner-container" *ngIf="isLoading">
        <div class="backdrop"></div>

        <p-progressSpinner [style]="{ width: '150px', height: '150px' }"></p-progressSpinner>
    </div>

    <div class="form-container">
        <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="p-field">
                <h5>USUARIO</h5>
                <input id="username" type="text" aria-describedby="username-help" placeholder="Usuario" [class.p-invalid]="usuarioNoValido" formControlName="usuario" pInputText />
                <small *ngIf="usuarioNoValido" id="username-help" class="p-invalid">Usuario no valido.</small
        >
      </div>
      <div class="p-field">
        <h5>CONTRASEÑA</h5>
        <input
          id="password"
          type="password"
          aria-describedby="password-help"
          placeholder="Contraseña"
          [class.p-invalid]="passwordNoValido"
          formControlName="password"
          pInputText
        />
        <small *ngIf="usuarioNoValido" id="username-help" class="p-invalid"
          >Usuario no valido.</small
        >
      </div>

      <div class="text-center">
        <button
          class="btn btn-primary text-black mt-4 text-center"
          type="submit"
          [disabled]="disabled"
        >
          INICIAR SESIÓN
        </button>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <div class="mt-2">
      <a
        type="button"
        [routerLink]="['/signup-customer']"
        class="text-green mr-3 letra-chica"
        >¿No tiene una cuenta?</a
      >
      <a [routerLink]="['/signup']" class="text-green ml-3 letra-chica"
        >Restablecer contraseña</a
      >
    </div>
  </ng-template>
</p-dialog>