<body style="background-color: white;">

    <ng-template appPlaceholder></ng-template>

    <div class="row m-0 ">

        <div class=" col-6 px-0" style="z-index: 20;">
            <div class="left-container">

            </div>

        </div>

        <div class="col-6 px-0 ">
            <div class=" right-container text-center " style=" background-color: white">
                <img class="margenInicio" src="assets/img/logoHome.svg" alt="homeLogo"
                    style="height: 150px; width: 150px;" />

                <div class="margenInicio" style="text-align: center;">
                    <h1>Disfruta de servicios</h1>

                    <h1>de calidad para tu hogar</h1>


                </div>

                <div class="button-container">
                    <button pButton pRipple type="button" label="EMPEZAR AHORA" class="p-button-raised"
                        (click)="showLoginDialog()"></button>
                </div>


            </div>

        </div>

        <div class="w-100 margenes"></div>

        <div class="col" style="text-align: center; background-color: white; ">
            <h1 style="color: rgb(246, 183, 118);">¿CÓMO FUNCIONA? </h1>
        </div>

        <div class="w-100 margenes-1"></div>

        <div class=" col px-0 align-self-center ">
            <div class="left-container-usos" style=" text-align: center;">
                <img class="mt-3" src="assets/img/Cfunciona1.svg" alt="homeLogo" style="height: 550px; width: 550px;" />

            </div>

        </div>

        <div class="col px-0 align-self-center">
            <div class="number-1 " style="text-align: center;">
                <br>
                <h1>Elija el servicio que deseas</h1>

                <h3 class="mr-4" style="font-weight: normal;">Ofrecemos una amplia variedad de servicios para el
                    hogar.
                </h3>

            </div>

        </div>


        <div class="w-100 margenes-1"></div>

        <div class="col px-0 align-self-center">
            <div class="number-2 " style="text-align: center;">
                <br>
                <h1>Fije los detalles del servicio</h1>

                <h3 class="ml-5" style="font-weight: normal;">Determine cuándo, dónde, cómo y otros detalles del
                    servicio que
                    requiere al crear la solicitud del
                    mismo.</h3>


            </div>

        </div>

        <div class=" col px-0 align-self-center ">
            <div class="left-container-usos" style=" text-align: center;">
                <img class="mt-3" src="assets/img/Cfunciona2.svg" alt="homeLogo" style="height: 550px; width: 550px;" />

            </div>

        </div>

        <div class="w-100 margenes-1"></div>

        <div class=" col px-0 align-self-center ">
            <div class="left-container-usos" style=" text-align: center;">
                <img class="mt-3" src="assets/img/Cfunciona3.svg" alt="homeLogo" style="height: 550px; width: 550px;" />

            </div>

        </div>

        <div class="col px-0 align-self-center">
            <div class="number-3 " style="text-align: center;">
                <br>
                <h1>Seleccione el trabajador</h1>

                <h3 class="mr-4" style="font-weight: normal;">Escoja la oferta del profesional que considere más
                    adecuado para realizar el trabajo e ingrese el presupuesto en la plataforma.
                </h3>

            </div>

        </div>

        <div class="w-100 margenes-1"></div>

        <div class="col px-0 align-self-center">
            <div class="number-4 " style="text-align: center;">
                <br>
                <h1>Disfrute del servicio</h1>

                <h3 class="ml-5" style="font-weight: normal;">Cuando el servicio sea finalizado el presupuesto
                    pasará de
                    la plataforma al trabajador.</h3>


            </div>

        </div>

        <div class=" col px-0 align-self-center ">
            <div class="left-container-usos" style=" text-align: center;">
                <img class="mt-3" src="assets/img/Cfunciona4.svg" alt="homeLogo" style="height: 550px; width: 550px;" />

            </div>

        </div>

        <div class="w-100 margenes"></div>

        <div class="col" style="text-align: center; background-color: white; ">
            <h1 style="color: rgb(246, 183, 118);">¿CUÁLES SON LOS </h1>
            <h1 style="color: rgb(246, 183, 118);">COSTOS PROMEDIOS?</h1>
        </div>

        <div class="w-100 margenes-1"></div>

        <div class="col px-0 margenes-tabla " style="text-align:center;">


            <!--  <input type="radio" id="show" name="group"> -->

            <!--  <div class="col" id="content">Contenido a mostrar</div> -->

            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td class="active" style="cursor: pointer;"><label for="show">
                                <span style="cursor: pointer;">Fontanería</span>
                            </label></td>

                        <td>Electricidad </td>
                        <td>Jardinería</td>
                        <td>Plancha</td>
                    </tr>

                    <tr>
                        <td>Mascotas</td>
                        <td>Masajes</td>
                        <td>Estéticas</td>
                        <td>Tutoría</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="w-100 margenes"></div>

        <div class="col" style="text-align: center; background-color: white; ">
            <h1 style="color: rgb(246, 183, 118);">¿POR QUÉ ELEGIRNOS? </h1>
        </div>

        <div class="w-100 margenes-1"></div>

        <div class="col-6 px-0 margen-t " style="max-width: 40%; ">
            <div style="text-align: center; ">
                <br>
                <h1 class="ml-5" style="text-align: left;">Disfrute del servicio</h1>

                <h3 class="mr-5 ml-5" style="font-weight: normal; text-align: left; ">Cuando el servicio sea
                    finalizado
                    el

                    pasará de
                    la plataforma al trabajador.</h3>


            </div>

        </div>

        <div class="col px-0 ml-4 " style="max-width: 40%; ">
            <div style="text-align: center; ">
                <br>
                <h1 class="ml-5" style="text-align: left;">Disfrute del servicio</h1>

                <h3 class="mr-5 ml-5" style="font-weight: normal; text-align: left; ">Cuando el servicio sea
                    finalizado
                    el

                    pasará de
                    la plataforma al trabajador.</h3>

            </div>

        </div>

        <div class="w-100 margenes"></div>

        <div class="col" style="text-align: center; background-color: white; ">
            <h1 style="color: rgb(246, 183, 118);">¿QUÉ OPINAN </h1>
            <h1 style="color: rgb(246, 183, 118);">NUESTROS USUARIOS?</h1>
        </div>

        <div class="w-100 margenes-2"></div>

        <p-card class=" col mine-card margen-t">
            <div fxLayout="row">
                <div class="img-container" fxFlex="25" style="
                  border-radius: 15px;
                 ">
                    <img width="100" src="../../../../../assets/img/phoebe.png" />
                </div>
                <div class="m-0" fxLayout="column" fxFlexOffset="10">
                    <h2 class="m-0">Adrian Nieves</h2>
                    <p-rating [ngModel]=5 readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center"
                        fxFlexOffset="10" class="mb-2 w-100" style="pointer-events: none;">
                    </p-rating>
                </div>
            </div>
            <div fxLayout="row" class="mt-3">
                <p style="text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper mus semper, gravida arcu enim

                    libero.
                </p>
            </div>
        </p-card>

        <p-card class=" col mine-card ml-4">
            <div fxLayout="row">
                <div class="img-container" fxFlex="25" style="
                  border-radius: 15px;
                 ">
                    <img width="100" src="../../../../../assets/img/phoebe.png" />
                </div>
                <div class="m-0" fxLayout="column" fxFlexOffset="10">
                    <h2 class="m-0">Adrian Nieves</h2>
                    <p-rating [ngModel]=5 readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center"
                        fxFlexOffset="10" class="mb-2 w-100" style="pointer-events: none;">
                    </p-rating>
                </div>
            </div>
            <div fxLayout="row" class="mt-3">
                <p style="text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper mus semper, gravida arcu enim

                    libero.
                </p>
            </div>
        </p-card>


        <div class="w-100 margenes-2"></div>


        <p-card class=" col mine-card margen-t">
            <div fxLayout="row">
                <div class="img-container" fxFlex="25" style="
                  border-radius: 15px;
                 ">
                    <img width="100" src="../../../../../assets/img/phoebe.png" />
                </div>
                <div class="m-0" fxLayout="column" fxFlexOffset="10">
                    <h2 class="m-0">Adrian Nieves</h2>
                    <p-rating [ngModel]=5 readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center"
                        fxFlexOffset="10" class="mb-2 w-100" style="pointer-events: none;">
                    </p-rating>
                </div>
            </div>
            <div fxLayout="row" class="mt-3">
                <p style="text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper mus semper, gravida arcu enim

                    libero.
                </p>
            </div>
        </p-card>

        <p-card class=" col mine-card ml-4">
            <div fxLayout="row">
                <div class="img-container" fxFlex="25" style="
                  border-radius: 15px;
                 ">
                    <img width="100" src="../../../../../assets/img/phoebe.png" />
                </div>
                <div class="m-0" fxLayout="column" fxFlexOffset="10">
                    <h2 class="m-0">Adrian Nieves</h2>
                    <p-rating [ngModel]=5 readonly="true" stars="5" [cancel]="false" fxFlex="20" fxFlexAlign="center"
                        fxFlexOffset="10" class="mb-2 w-100" style="pointer-events: none;">
                    </p-rating>
                </div>
            </div>
            <div fxLayout="row" class="mt-3">
                <p style="text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper mus semper, gravida arcu enim

                    libero.
                </p>
            </div>
        </p-card>

        <div class="w-100 end "></div>



    </div>


</body>