
<div class="firmalar">    
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="firma-card row">
                    <div class="col-md-5 img-padding-no">
                        <div class="firma-resim">
                            
                               <img src="http://127.0.0.1/img/pngegg.png" class="rounded">
                            
                        </div>
                    </div>
                
                    <div class="col-md-7">
                        <div class="firma-aciklama card-body">
                            <h4>FONTANERIA XXX</h4>
                            <ul class="yacht-info__list space-2">
                                <li>
                                    <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                    <span class="vertical-align-mid">Servicio Puntual</span>
                                </li>
                                <li>
                                    <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                    <span class="vertical-align-mid">Miercoles, 20/12/2020</span>
                                </li>
                                <li>
                                    <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                    <span class="vertical-align-mid">Horario: 9.00 - 10.00</span>
                                </li>
                                <li>
                                    <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                    <span class="vertical-align-mid">Adrian</span>
                                </li>
                                
                                    <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                    <span class="vertical-align-mid">
                                        <br>
                                        <button type="button" class="btn btn-outline-primary btn-sm">Factura</button>
                                        
                                        <button type="button" class="btn btn-outline-primary btn-sm">Detalles</button>
                                    </span>
                                
                            </ul>


                        </div>
                    </div>
                </div>
                


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    </div>
