<div class="firmalar">    
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="firma-card row mt-3">
                    <div class="col-md-5 img-padding-no">
                        <div class="firma-resim">                          
                               <img src="">                            
                        </div>
                    </div>              
                    <div class="col-md-7">
                        <div class="firma-aciklama card-body">
                            <h4>{{tipo}}</h4>
                            <ul class="yacht-info__list space-2">
                                <li>
                                    <span class="vertical-align-mid">Servicio Puntual</span>
                                </li>
                                <li>
                                    <span class="vertical-align-mid">{{fecha.slice(0,10)}}</span>
                                </li>
                                <li>
                                    <span class="vertical-align-mid">{{fecha.slice(11,fecha.length)}}</span>
                                </li>
                                <br>
                                    <span *ngIf="userType == 'client'" class="vertical-align-mid">
                                        <br>
                                        <button (click)="offers()"
                                                type="button" 
                                                class="btn btn-outline-primary btn-sm">
                                            Ofertas
                                        </button>  
                                        <button type="button" 
                                                class="btn btn-outline-primary btn-sm">
                                            Detalles
                                        </button>
                                    </span>
                                    <span *ngIf="userType == 'provider'" class="vertical-align-mid">
                                        <br>
                                        <button 
                                                type="button" 
                                                class="btn btn-outline-primary btn-sm">
                                            Enviar Presupuesto
                                        </button>  
                                        <button type="button" 
                                                class="btn btn-outline-primary btn-sm">
                                            Chat
                                        </button>
                                    </span>                            
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div *ngIf="showOffers" class="card">
                    <ul >
                        <li *ngFor="let offer of offersList" class="row mt-1">
                            <div class="col-md-3">
                                {{offer.partner_id[1]}}  
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-4">
                                <button (click)="openChat(offer.id)" class="btn btn-outline-dark">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                </button>
                                <button (click)="acceptProvider(offer.id)" class="btn btn-outline-dark">
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                </button>
                                <button (click)="declineProvider(offer.id)"  class="btn btn-outline-dark">
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                {{offer.amount_total}}€ 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
</div>


