<div class="firmalar">    
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="firma-card row">
                    <div class="col-md-5 img-padding-no">
                        <div class="firma-resim">
                            
                               <img src="http://127.0.0.1/img/pngegg.png">
                            
                        </div>
                    </div>
                
                    <div class="col-md-7">
                        <div class="firma-aciklama card-body">
                            <h4>FONTANERIA XXX</h4>
                            <ul class="yacht-info__list space-2">
                                <li>
                                    <!-- <i class="search-boat-icon fa search-captain vertical-align-mid"></i> -->
                                    <span class="vertical-align-mid">Servicio Puntual</span>
                                </li>
                                <li>
                                    <!-- <i class="search-boat-icon fa search-captain vertical-align-mid"></i> -->
                                    <span class="vertical-align-mid">Miercoles, 20/12/2020</span>
                                </li>
                                <li>
                                    <!-- <i class="search-boat-icon fa search-captain vertical-align-mid"></i> -->
                                    <span class="vertical-align-mid">Horario: 9.00 - 10.00</span>
                                </li>
                                <li>
                                    <!-- <i class="search-boat-icon fa search-captain vertical-align-mid"></i> -->
                                    <span class="vertical-align-mid">Adrian</span>
                                </li>
                                <a href="#">
                                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path fill-rule="evenodd" d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                  </svg> 
                                </a>
                                <br>
                                    <!-- <i class="search-boat-icon fa search-captain vertical-align-mid"></i> -->
                                    <span class="vertical-align-mid">
                                        <br>
                                        <button type="button" class="btn btn-outline-primary btn-sm">Factura</button>
                                        
                                        <button type="button" class="btn btn-outline-primary btn-sm">Detalles</button>
                                    </span>
                                
                            </ul>


                        </div>
                    </div>
                </div>
                


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    </div>
