<div class="form-container">
    <form autocomplete="off" [formGroup]="companyForm">
        <div class="p-field">
            <h5>NOMBRE/RAZON SOCIAL</h5>
            <input id="nombre" type="text" aria-describedby="nombre-help" placeholder="Nombre" formControlName="nombre" pInputText />

        </div>
        <div class="p-field">
            <h5>DIRECCION SOCIAL</h5>
            <input id="address" type="text" aria-describedby="address-help" placeholder="Direccion social" formControlName="address" pInputText />
        </div>
        <div fxLayout="row">
            <div class="p-field" fxFlex="48">
                <h5>NIF/CIF</h5>
                <input id="nif" type="text" aria-describedby="nif-help" placeholder="NIF/CIF" formControlName="nif" pInputText />
            </div>
            <div class="p-field" fxFlexOffset="4" fxFlex="48">
                <h5>TELEFONO</h5>
                <input inputId="basic" formControlName="phone" id="phone" type="text" aria-describedby="phone-help" placeholder="Numero telefonico" pInputText />
            </div>

        </div>
        <div fxLayout="row">
            <div class="p-field" fxFlex="48">
                <h5>No. SEGURIDAD SOCIAL</h5>
                <input id="seguridad" type="text" aria-describedby="seguridad-help" placeholder="SEGURIDAD SOCIAL" formControlName="seguridad" pInputText />
            </div>
            <div class="p-field" fxFlexOffset="4" fxFlex="48">
                <h5>CODIGO I.A.E</h5>
                <input inputId="basic" formControlName="iae" id="iae" type="text" aria-describedby="iae-help" placeholder="I.A.E" pInputText />
            </div>

        </div>
        <div class="p-field">
            <h5>E-MAIL</h5>
            <input id="email" type="email" aria-describedby="email-help" placeholder="Correo electronico" formControlName="email" pInputText />
        </div>
        <div class="text-right">
            <button class="btn btn-primary text-black mt-4 text-center" type="submit" (click)="nextPage()">
        ACEPTAR
      </button>
        </div>
    </form>
</div>