<div class="loginmodal-container">
	<h1>Iniciar Sesión</h1><br>
  <form (ngSubmit)="submit()">
	<input type="text" name="user" placeholder="Usuario" [(ngModel)]="usuario.username">
	<input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="usuario.password">
	<input type="submit" name="login" class="login loginmodal-submit" value="Ingresar">
	<div class="alert alert-primary" role="alert" *ngIf="alerta">
		Datos Incorrectos
	  </div>
  </form>
	
  <div class="login-help">
	<a href="#">Registrarse</a> - <a href="#">Recuperar Contraseña</a>
  </div>
</div>