<div class="container">
    <div class="column">
        <h1 class="text-center mb-4 text-primary">Gremio</h1>
        <div class="card border-primary" style="width: 23rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                <h6 class="text-primary">USUARIO</h6>
                <input [(ngModel)]="usuario.username" 
                        type="text" class="form-control" 
                        placeholder="Usuario" required/>
                </li>
                <li class="list-group-item">
                    <h6 class="text-primary">CONTRASEÑA</h6>
                    <input  [(ngModel)]="usuario.password" 
                            type="password" class="form-control" 
                            placeholder="Contraseña" required/>
                </li>
                <button class="btn btn-primary mr-3 ml-3 mt-3"
                        [disabled]="disabled" (click)="submit()">
                    INICIAR SESIÓN
                </button>
                <li class="list-group-item">
                    <a [routerLink]="['/signup']" class="text-secondary mr-3 letra-chica">¿No tiene una cuenta?</a>
                    <a [routerLink]="['/signup']" class="text ml-3 letra-chica">Restablecer contraseña</a>
            </li>
            </ul>
        </div>
    </div>
</div>