<p-toast></p-toast>

<div class="view-container">
    <div class="container">
        <div class="msg-header">
            <div class="msg-header-img">
                <img src={{task.photoProvider}}>
            </div>
            <div class="active">
                <h4>{{task.provider_name}}</h4>
            </div>
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <div class=" msg-page">

                        <div *ngFor="let message of messagesList">

                            <div class="received-chats " *ngIf="user.partner_id !=  message.author_id ">

                                <div class="received-chats-img">
                                    <img src={{task.photoProvider}}>
                                </div>

                                <div class="received-msg-inbox">
                                    <p>{{ message.message }}</p>
                                    <!-- <span class="time">11:01 PM</span> -->

                                </div>
                            </div>


                            <div class="outgoing-chats" *ngIf="user.partner_id ==  message.author_id ">

                                <div class="outgoing-chats-img">
                                    <img src={{user.avatar}}>
                                </div>

                                <div class="outgoing-chats-msg">
                                    <p>{{ message.message }}</p>
                                    <!-- <span class="time">11:01 PM</span> -->
                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="msg-bottom">
            <div class="bottom-icons">
                <i class="fa fa-plus-circle"></i>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Escriba su mensaje..." [(ngModel)]="enter"
                    (keyup)="onKeyUpMaterial($event)">

                <div class="input-group-append">
                    <span class="input-group-text" (click)='sendMessage()'><i class="fa fa-paper-plane"></i> </span>
                </div>

            </div>

        </div>
    </div>
</div>