@import '../../../assets/mystyle.scss';
.view-container {
	padding: 50px 0;

	.container {
		width: 30%;
		//margin: auto;
		margin-top: 80px;
		font-family: sans-serif;
		letter-spacing: 0.5px;
		margin-right: 22vw;
	}

	@media all and (max-width: 1500px) {
		.container {
			width: 40%;
			margin-right: 11vw;
		}
	}

	.msg-header {
		border: 1px solid #ccc;
		width: 100%;
		height: 10%;
		border-bottom: none;
		display: inline-block;
		background-color: #f6b776;
		border-radius: 25px 25px 0 0;
	}
	img {
		max-width: 100%;
		border-radius: 20%;
	}
	.msg-header-img {
		border-radius: 50%;
		width: 40px;
		margin-left: 5%;
		margin-top: 12px;
		margin-bottom: 12px;
		float: left;
	}
	.active {
		width: 120px;
		float: left;
		margin-top: 20px;
	}
	.active h4 {
		font-size: 20px;
		margin-left: 10px;
		color: #000;
	}
	.chat-page {
		padding: 0 0 50px 0;
		margin-top: -8px;
	}

	.msg-inbox {
		border: 1px solid #ccc;
		overflow: hidden;
		padding-bottom: 2px;
		background: white;
	}

	.msg-inbox ::-webkit-scrollbar {
		display: none;
	}

	.chats {
		padding: 30px 15px 0 25px;
		height: 516px;
		overflow-y: auto;
	}

	.chats ::-webkit-scrollbar {
		//display: none;
	}

	/* .msg-page {
	overflow-y: auto;
} */

	/* .msg-page ::-webkit-scrollbar {
	display: none;
} */

	.received-msg-inbox {
		display: inline-block;
		padding: 0 0 10px 10px;
		vertical-align: top;
		min-width: 20%;
		max-width: 57%;
	}

	.received-msg-inbox p {
		background: #ccc none repeat scroll 0 0;
		border-radius: 10px;
		color: #fff;
		font-size: 14px;
		margin-bottom: 5px;
		padding: 5px 10px 5px 12px;
		width: 100%;
	}

	.received-chats-img {
		display: inline-block;
		width: 20px;
		float: left;
		img {
			border-radius: 50%;
		}
	}

	.time {
		color: #777;
		display: block;
		font-size: 12px;
		margin-left: 10px;
	}

	.outgoing-chats {
		overflow: hidden;
		margin: 26px 20px;
	}

	.outgoing-chats-msg {
		float: left;
		max-width: 57%;
		float: right;
	}

	.outgoing-chats-msg p {
		background: #f6b776 none repeat scroll 0 0;
		border-radius: 10px;
		color: #fff;
		font-size: 14px;
		margin: 0;
		padding: 5px 10px 5px 12px;
		width: 100%;
	}

	.outgoing-chats-img {
		display: inline-block;
		width: 20px;
		float: right;
		margin-left: 15px;
		img {
			border-radius: 50%;
		}
	}

	.msg-bottom {
		position: relative;
		height: 80px;
		background-color: #f6b776;
		margin-top: -50px;
		border-radius: 0 0 25px 25px;
	}
	.input-group {
		float: right;
		margin-top: 13px;
		margin-right: 20px;
		outline: none !important;
		border-radius: 20px;
		width: 61% !important;
		background-color: #fff;
	}

	.form-control {
		border: none !important;
		border-radius: 20px !important;
	}
	.input-group-text {
		background: transparent !important;
		border: none !important;
		cursor: pointer;
	}

	.input-group .fa {
		color: rgb(49, 176, 185);
		float: right;
	}

	.bottom-icons {
		float: left;
		margin-top: 17px;
		width: 5% !important;
		margin-left: 22px;
	}

	.bottom-icons .fa {
		color: #fff;
		padding: 5px;
	}

	.form-control:focus {
		border-color: none !important;
		box-shadow: none !important;
		border-radius: 20px;
	}

	.container-info {
		width: 20%;
		//margin: auto;
		margin-top: 140px;
		margin-left: 12vw;
		font-family: sans-serif;
		letter-spacing: 0.5px;
	}

	@media all and (max-width: 1680px) {
		.container-info {
			width: 25%;
			margin-left: 10vw;
		}
	}

	@media all and (max-width: 1050px) {
		.container-info {
			width: 30%;
		}
	}

	.active-info {
		width: 80%;
		float: left;
		margin-top: 20px;
		margin-left: 30px;
		font-family: $font-family;
	}

	.input-page {
		padding: 0 0 50px 0;
		margin-top: -8px;
	}

	.location-btn {
		margin-top: -8px;
		padding: 0;
		border: none;
		height: 30px;
		width: 40px;
		outline: none;
		background-color: white;
		background-image: url('../../../assets/img/editar.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}
	input[type="button"]:disabled {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	.info-inbox {
		border: 1px solid #ccc;
		overflow: hidden;
		padding-bottom: 2px;
		background: white;
		border-radius: 0 0 20px 20px;
	}

	.info-inbox ::-webkit-scrollbar {
		display: none;
	}

	.info {
		padding: 30px 15px 0 15px;
		height: 450px;
		overflow-y: auto;
	}
}
