<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink = 'home' >Tareas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink = '/3/chat' >Mensajes <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>