

<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <a class="navbar-brand mt-4 mb-4">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Gremio
    </a>
    <div class="collapse navbar-collapse mt-1 mb-1" id="navbarNav">
      <div class="d-flex justify-content-around">
          <div *ngIf="user.type == 'client'"  class="dropdown  ml-5 mr-5">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Elegir servicio
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="newService('Fontanería')"
                 data-toggle="modal" data-target="#newServiceModal">Fontanería</a>
              <a class="dropdown-item" (click)="newService('Electricidad')"
                  data-toggle="modal" data-target="#newServiceModal">Electricidad</a>
            </div>
          </div>
          <div *ngIf="user.type == 'client'" class="input-group">
            <input type="text" class="form-control" placeholder="Buscar servicio"
                   aria-label="Recipient's username" aria-describedby="button-addon2"
                   type="search">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit" id="button-addon2">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
          <nav *ngIf="userConnected()" aria-label="..." class="mt-3 ml-auto p-2 bd-highlight">
            <ul class="pagination pagination-md">
              <li class="page-item active" aria-current="page" (click)="solicitudes()">
                <span class="page-link">
                  Solicitudes
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item" (click)="contratados()">
                <a class="page-link">Contratados</a>
              </li>
              <li class="page-item" (click)="terminados()">
                <a *ngIf="user.type == 'client'" class="page-link">Terminados</a>
                <a *ngIf="user.type == 'provider'" class="page-link">Historial</a>
              </li>
            </ul>
          </nav>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="newServiceModal" tabindex="-1" 
      aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          NUEVA SOLICITUD DE {{task.type | uppercase }}
        </h5>
      </div>
      <div class="column">
        <div class="modal-body input-group">
          <ul class="list-group list-group-flush" style="width: 60rem;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ¿Cuántas veces desea el servicio?
                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="frecuenciaRadios"
                            value="unaVez" id="unaVezRadio" checked>         
                    <label class="form-check-label" for="unaVezRadio">
                      Una vez (Servicio Puntual)
                    </label>
                  </div>  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="frecuenciaRadios"
                            value="semanalmente" id="semanalmenteRadio">         
                    <label class="form-check-label" for="semanalmenteRadio">
                      Semanalmente (Servicio recurrente)
                    </label>
                  </div>
                </div>  
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Describa el servicio que necesita
              <textarea [(ngModel)]="task.description" class="form-control"></textarea>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" mb-5>
              Dirección en que se realizará el servicio
              <form>
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control m-1" placeholder="Calle">
                    <input type="text" class="form-control m-1" placeholder="Número">
                    <input type="text" class="form-control m-1" placeholder="Portal">
                    <input type="text" class="form-control m-1" placeholder="Escalera">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control m-1" placeholder="Piso">
                    <input type="text" class="form-control m-1" placeholder="Puerta">
                    <input type="text" class="form-control m-1" placeholder="Cod. Postal">
                  </div>
                </div>
              </form>
            </li>
            <button (click)="createNewService()"
                  type="button" class="btn btn-outline-success mt-5" data-dismiss="modal">
              Crear
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>