

<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <a class="navbar-brand">
      <img src="../../../../assets/img/logoNavbar.png"
           alt="logoNavbar"
           class="d-inline-block align-top ml-3 logoNavbar">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex">
          <div *ngIf="user.type == 'client'"  class="dropdown  ml-5 mr-5">
            <button class="btn btn-primary dropdown-toggle dropboxNavbar text-navbar" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Elegir servicio
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item dropboxNavbar"
                 (click)="newService('Fontanería')"
                 data-toggle="modal"
                 data-target="#newServiceModal">
                Fontanería
              </a>
              <a class="dropdown-item dropboxNavbar" 
                 (click)="newService('Electricidad')"
                 data-toggle="modal"
                 data-target="#newServiceModal">
                Electricidad
              </a>
            </div>
          </div>
          <div *ngIf="user.type == 'client'" class="input-group">
            <input class="form-control searchNavbar col-md-7" placeholder="Buscar servicio"
                   aria-label="Recipient's username" aria-describedby="button-addon2"
                   type="search">
            <div class="input-group-append searchNavbar">
              <button class="btn btn-primary text-navbar" type="submit" id="button-addon2">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
          <nav *ngIf="userConnected()" aria-label="..." class="ml-auto bd-highlight mt-2 mr-2">
            <ul class="pagination pagination-sm">
              <li class="page-item mr-1" aria-current="page" (click)="solicitudes()">
                <div class="tabs btn">
                  <img src="../../../../assets/img/SolicitudesNavbar.png"
                       onmouseover="this.src='../../../../assets/img/SolicitudesNavbarActive.png'"
                       onmouseout="this.src='../../../../assets/img/SolicitudesNavbar.png'"
                       class="tabImg" alt="">
                </div>       
              </li>
              <li class="page-item" (click)="contratados()">
                <div class="tabs btn wrapped" >
                  <img src="../../../../assets/img/ContratadosNavbar.png"
                     onmouseover="this.src='../../../../assets/img/ContratadosNavbarActive.png'"
                     onmouseout="this.src='../../../../assets/img/ContratadosNavbar.png'"
                     class="tabImg active"
                     alt="">
                </div>
              </li>
              <li class="page-item " (click)="terminados()">
                <div class="tabs btn">
                  <img src="../../../../assets/img/HistorialNavbar.png"
                     onmouseover="this.src='../../../../assets/img/HistorialNavbarActive.png'"
                     onmouseout="this.src='../../../../assets/img/HistorialNavbar.png'"
                     class="tabImg" alt=""
                     style="width: 38px;">
                </div>
              </li>
            </ul>
          </nav>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade"
     id="newServiceModal"
     tabindex="-1" 
     aria-labelledby="ServiceModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"
            id="ServiceModal">
          NUEVA SOLICITUD DE {{task.type | uppercase }}
        </h6>
      </div>
      <div class="column">
        <form autocomplete="off"
              [formGroup]="newServiceForm"
              (ngSubmit)="createNewService()">
          <div class="modal-body input-group">
            <ul class="list-group list-group-flush"
                style="width: 80rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Título del servicio
                <textarea formControlName="title"
                          class="form-control"
                          [class.is-invalid]=tituloNoValido></textarea>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>¿Cuándo necesita el servicio? </label>
                <div class="row">
                  <input type = "date"
                         class= "col-md-7"
                         formControlName="date">
                         
                  <input type = "time"
                         class= "col-md-5"
                         formControlName="time">
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Describa el servicio que necesita
                <textarea formControlName="description"
                          class="form-control"></textarea>
              </li>
              <li class="list-group-item d-flex align-items-center">
                Fotos del proyecto
                <div class="ml-auto" formArrayName="photos">
                  <label for="i"
                        class="btn min-content"
                        *ngFor="let control of photos.controls; let i=index"       
                        >
                    <input type="file" 
                          name="photo" 
                          id=i 
                          class="input-photo" 
                          accept="image/*">
                    
                    <img [src]="control.value"
                        class="card-img logoNavbar"
                        alt="No image">
                  </label>
                </div>               
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center" mb-5>
                Dirección en que se realizará el servicio
                <form [formGroup]="this.newServiceForm.get('address')">
                  <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control m-1" placeholder="Calle" formControlName="calle">
                      <input type="text" class="form-control m-1" placeholder="Número" formControlName="numero">
                      <input type="text" class="form-control m-1" placeholder="Portal" formControlName="portal">
                      <input type="text" class="form-control m-1" placeholder="Escalera" formControlName="escalera">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control m-1" placeholder="Piso" formControlName="piso">
                      <input type="text" class="form-control m-1" placeholder="Puerta" formControlName="puerta">
                      <input type="text" class="form-control m-1" placeholder="Cod. Postal" formControlName="cp">
                    </div>
                  </div>
                </form>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                ¿Dispone de los materiales necesarios?
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" 
                           class="form-check-input"
                           name="materials"
                           formControlName="materials"
                           value="0"
                           [class.is-invalid]=materialsNoValido>
                    Si
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio"
                           class="form-check-input"
                           name="materials"
                           formControlName="materials"
                           value="1"
                           [class.is-invalid]=materialsNoValido>
                    No
                  </label>
                </div>
              </li>
              <div class="text-center">
                <button 
                      type="submit" class="btn btn-secondary mt-2 mr-3">
                  Crear
                </button>
                <button class="btn btn-secondary mt-2 ml-1"
                        type="button"
                        id="close-newService-modal"
                        data-dismiss="modal">
                  Cancelar
                </button>
              </div>     
            </ul>    
          </div>
        </form>
      </div>
    </div>
  </div>
</div>