<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="10" fxFlexOffset="5">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/logoNavbar.png" alt="" class="brand-logo" /></a>
        </div>

        <div fxFlex="10" fxFlexOffset="5" *ngIf="userConnected()">
            <p-dropdown [options]="services" [(ngModel)]="selectedService" placeholder="Elegir servicio" optionLabel="name" [showClear]="true" (onChange)="emitRequest()"></p-dropdown>
        </div>

        <div fxFlex="15" fxFlexOffset="20" class="button-nav-go" *ngIf="userConnected()">
            <span>Ir a Trabajador</span>
        </div>
        <div [routerLink]="['/dashboard']" [queryParams]="{ tab: 'request' }" fxFlex="8" fxFlexOffset="5" class="button-nav" [ngClass]="{ active: tabActive === 'request' }" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="userConnected()">
            <i class="fas fa-circle-notch"></i>
            <span>Solicitudes</span>
        </div>
        <div [routerLink]="['/dashboard']" [queryParams]="{ tab: 'hired' }" fxFlex="8" fxFlexOffset="1" class="button-nav" [ngClass]="{ active: tabActive === 'hired' }" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="userConnected()">
            <i class="far fa-check-circle"></i>
            <span>Contratados</span>
        </div>
        <div [routerLink]="['/dashboard']" [queryParams]="{ tab: 'history' }" fxFlex="8" fxFlexOffset="1" class="button-nav" [ngClass]="{ active: tabActive === 'history' }" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="userConnected()">
            <i class="fas fa-history"></i>
            <span>Historial</span>
        </div>
        <div fxFlex="8" class="button-nav" fxLayout="column" fxLayoutAlign="space-around center" fxFlexOffset="1" *ngIf="userConnected()">
            <i class="far fa-user-circle"></i>
            <span>Perfil</span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto"></ul>
        </div>
    </div>
</nav>