<div class="container list-card">
    <div class="pcard-container">
        <p-card>
            <div class="container p-0">
                <div class="row m-0">
                    <div class="col-3 p-0">
                        <div class="image-left">
                            <img src="assets/img/home1.jpg" class="heaven" />
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="container py-2">
                            <h3>{{task.title}}</h3>
                            <span><i class="far fa-calendar mr-2"></i>{{task.date_planned}}</span>
                            <span type="button" (click)="selectTypeCancel()" class="text-green mt-1">Cancelar</span>
                            <br>
                            <span><i class="far fa-clock mr-2"></i>{{task.time}}</span>
                            <br>
                            <span><i class="far fa-user mr-2" *ngIf="role == 'provider'" ></i>Cliente: Adrian J.</span>

                            <div class="buttons-cont" fxLayout="row">
                                <div class="btn btn-primary" fxFlex="role =='client' ? 20 : 24" (click)="onShowSubCard(false)">{{role == 'client' ? 'OFERTAS': 'PRESUPUESTAR'}}</div>
                                <div class="btn btn-primary" fxFlex="20" fxFlexOffset="5" (click)="onShowSubCard(true)">DETALLES</div>
                                <div fxFlex="20" fxFlexOffset="35">
                                    <span>Solicitado:</span><br>
                                    <span>{{task.date | date}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="fade-down" *ngIf="showSubCard">
            <p-card>
                <app-request-sub-card [mode]="offersDetail" [role]='role' [taskSub]="task"></app-request-sub-card>
            </p-card>
        </div>
    </div>
</div>