<div class="container list-card">

  <div class="pcard-container ">
    <p-card>
      <div class="container-fluid p-0">
        <div class="row m-0">
          <div class="col-3 p-0">
            <div class="image-left">
              <img src="assets/img/home1.jpg" class="heaven" />
            </div>
          </div>

          <div class="col-9">
            <div class="container-fluid ">
              <div class="row mt-4">
                <div class="col-6">
                  <h3>{{ task.title }}</h3>
                </div>
                <div class="col" style="text-align: right;">
                  <span type="button" class="text-green" (click)="selectTypeCancel()">Cancelar</span><br />
                  <div style="text-align: center;">
                    <p-progressSpinner class="spinner-container-card" *ngIf="isLoading1"
                      [style]="{ width: '40px', height: '40px' }"></p-progressSpinner>
                  </div>
                </div>
              </div>
              <div class="col; p-0 ">

                <i class="far fa-calendar mr-2"></i>
                <span style="color: black">{{ task.date_planned | date: "EEEE, MMMM
                  d, y" }}</span>

              </div>
              <div class="col; p-0">
                <i class="far fa-clock mr-2"></i>

                <span style="color: black">Horario de servicio: {{ task.time | date :
                  'h:mm a' }}</span>
              </div>
              <div class="col; p-0 " *ngIf="role == 'provider'">
                <span><i class="far fa-user mr-2"></i>Cliente: <span
                    style="color:#31b0b9 ;">{{task.client_name}}</span></span>
              </div>

              <div class="container  mt-4 mb-3 ">
                <div class="row ">

                  <div class="align-self-center ; role == 'client'?col-3:col-5">
                    <button class=" btn btn-primary btn-sm   " style="color: black" (click)="onShowSubCard(false)"
                      [disabled]="isLoading1||(role=='provider' && task.offer_send.toString() == 'sent')">
                      {{ role == "client" ? "OFERTAS" : "PRESUPUESTAR" }}
                    </button>
                  </div>

                  <div class="col-2 ml-2 p-0 align-self-center" style="text-align: right;">
                    <button class=" btn btn-primary btn-sm" style="color: black;" (click)="onShowSubCardDetail(true)">
                      DETALLES
                    </button>
                  </div>

                  <div class="col-1 p-0 ml-5" style="text-align: center;" id="chatSubRequest"
                    *ngIf="role=='provider' && task.offer_send.toString() == 'sent'">
                    <div class="chat-button col-1" fxLayout="column" fxLayoutAlign="space-around center"
                      (click)="goToChat()">
                      <input style="outline: none ;" type=image src="'../../../../../../../assets/img/iconChat.svg"
                        width="30" height="20">
                      <span>Chat</span>
                    </div>
                  </div>

                  <div class="col pr-0" style="text-align: right;">
                    <span style="color: black;"><small>Solicitado:</small></span><br />
                    <span style="color: black;"><small>{{ task.date | date: 'dd.MM.yyyy' }}</small></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </p-card>

    <div class="fade-down" *ngIf="showSubCard">
      <p-card>
        <app-request-sub-card [mode]="offersDetail" [role]="role" [taskSub]="task" [offersList]="offersList">
        </app-request-sub-card>
      </p-card>
    </div>
  </div>
</div>