@import '../../../../assets/mystyle.scss';
.list-card {
	flex-direction: column;
	box-sizing: content-box;
	display: flex;
	place-content: center space-around;
	align-items: center;
	.pcard-container {
		margin-top: 50px;
		box-sizing: border-box;
		width: 60vw;
		max-width: 70%;
		.p-component {
			border-radius: 70px 10px 10px 0;
		}
		.p-card .p-card-body {
			padding: 0;
		}
		.p-card .p-card-content {
			padding: 0;
		}
		h3 {
			font-family: $font-family;
			margin-bottom: 15px;
		}

		/* .buttons-cont {
			// max-height: 35px;
			.btn {
				margin-bottom: 10px;
			}
			margin-top: 30px;
			span {
				font-size: 14px;
			}
		} */
	}
	.image-left {
		// height: 25vh;
		height: 100%;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgb(246, 183, 118);
			opacity: 30%;
			border-radius: 70px 0 0 0;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 70px 0 0 0;
		}
	}
}

.fade-down {
	animation: fadeInDown .3s ease-in-out;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.spinner-container-card {
	position: absolute;
}
.chat-button {
	svg {
		color: white;
		font-size: 25px;
	}
	span {
		color: white;
		font-size: 14px;
	}
}
#chatSubRequest:hover {
	cursor: pointer;
}
